#lightboxBackdrop {
    z-index: 16777271 !important;
}

.css-evf80z {
    margin-bottom: 5px !important;
    margin-left: 5px !important;
}

.css-14pyrcn {
    margin-top: 5px !important;
}

#SearchSensor-downshift-input,
#SearchAttendee-downshift-input,
#SearchAuthor-downshift-input{
    font-size: 14px !important;
}

.css-1pwe92q {
    font-size: 16px !important;
    color: white !important;
}

.css-evf80z {
    font-size: 16px !important;
}

.css-14pyrcn {
    font-size: 14px !important;
    color: white !important;
}

.css-1xdhyk6 {
    margin-bottom: 5px;
}

.sidebar {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 280px;
    background-color: rgba(30, 30, 30, 0.5);
    padding: 0 10px 10px 10px;
    font-size: 15px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(30, 30, 30, 0.5);
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.ant-avatar {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    font-size: 3em !important;
}

.middle .ant-form-item-control {
    display: flex;
    justify-content: center;
}

.sidebar .ant-form-item {
    margin: 0;
}

.sidebar .ant-form-item-control {
    line-height: 29px;
}